.nav-title {
    font-weight: bold;
    font-size: 1.5rem;
}

.navbar {
    display: flex;
    background-color: #127ce5;
    color: white;
    margin-bottom: 10px;
    font-weight: bold;
    height: 5rem;
}

.navbar-item:hover {
    background-color: rgb(170, 192, 255);
    cursor: pointer;
}

.navbar-item {
    display: flex;
    align-items: center;
    padding: 10px 25px;
    font-size: 1.2rem;
}

.navbar>.navbar-username {
    margin-left: auto;
    font-weight: bold;
}